data/interaction/*
data/affinity/EC50/*
data/affinity/IC50/*
data/affinity/Ki/*
code/__pycache__/*
runs/*
logs/*
checkpoint/*
optuna_runs/*
optuna_checkpoint/*
optuna_dynamicGAT_checkpoint/*
optuna_dynamicGAT_runs/*
optuna_encoder_decoder_checkpoint/*
optuna_encoder_decoder_runs/*
data/*
datasets/*
datasets_ProtBERT/*
